name: Build Android APK
permissions:
  contents: read

on:
  push:
    branches: [ main ]
    tags:
      - "*.*.*"  
  pull_request:
    branches: [ main ]

jobs:
  lint-and-detekt:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'

    - name: Make gradlew executable
      run: chmod +x gradlew

    - name: Run Android Lint
      run: |
        ./gradlew lint
        if [ -f app/build/reports/lint-results-debug.txt ]; then
          cat app/build/reports/lint-results-debug.txt
        fi

    - name: Run Detekt
      run: ./gradlew detekt --console=plain

  build:
    runs-on: ubuntu-latest
    needs: lint-and-detekt

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
        java-version: '22'
        distribution: 'temurin'
        
    - name: Build with Gradle
      run: |
        mkdir dist
        chmod +x gradlew
        ./gradlew assembleDebug
        mv app/build/outputs/apk/debug/app-debug.apk dist/mobilenext-devicekit.apk

    - name: Upload APK artifact
      uses: actions/upload-artifact@v4
      with:
        name: mobilenext-devicekit
        path: dist/mobilenext-devicekit.apk
        retention-days: 1

    - name: Upload to GitHub Release
      if: github.ref_type == 'tag'
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.RELEASES_TOKEN }}
      with:
        name: Version ${{ github.ref_name }}
        files: |
          dist/mobilenext-devicekit.apk
  
